body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

header {
    display: flex;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, rgb(0, 27, 177) 0%, rgb(99, 149, 255) 50%, rgb(0, 27, 177) 100%);
    box-shadow: 0 0 20px rgba(0, 82, 255, 0.7);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    color: white;
    padding: 5px 15px;
    height: 80px;
}

i {
    padding-right: 5px;
}

nav a {
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    filter: blur(0);
    transition: all 0.4s ease;
    align-items: center;
    height: 100%;
    border-radius: 8px;
}

nav a:hover {
    background-color: #9fd1ff;
    color: rgb(0, 4, 255);
    text-shadow: #200069a6;
    transform: scale(1.1);
    font-size: 18px;
    filter: drop-shadow(0px 0px 5px rgb(206, 215, 255));
    border-radius: 15px;
}

nav:hover a:not(:hover) {
    filter: blur(5px);
}

.image img {
    margin-right: 2cm;
    height: 90px;
    transition: transform 0.8s ease
}

.image img:hover {
    transform: rotate(360deg) scale(2.1) translateY(20px) translateX(-10px);
    filter: drop-shadow(0px 0px 7px rgb(255, 255, 255));
}

section.home{
    background: 
        linear-gradient(to bottom, transparent 40%, rgb(0, 0, 0) 100%),
        url("bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:600px;
    color: white;
    padding-top: 100px;
    }
section.home div{
        text-align: center;
        color: white;
        margin:auto;
        width:70%;
        padding: 20px;
        }

Section.home.welcome{
        font-size: 30px;
        }

section.home a{
        color: rgb(23, 0, 155);
        padding: 10px 20px;
        background-color: #9fd1ff;
        text-decoration: none;
        box-shadow: black 0px 0px 4px;
        border-radius: 20px;
        }






section.about{
background-color: black;
height: 600px;
}

section.product{
    background: url("gb2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
}

section.contact{
background-color: black;
height: 600px;
}

footer {
    background-color: rgb(0, 13, 126);
    height:50px;
}