body {
    margin: 0px;
    font-family: "Concert One", sans-serif;
  }

header {
    display: flex;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, rgb(20, 0, 136) 0%, rgb(141, 158, 255) 50%, rgb(35, 0, 192) 100%);
    box-shadow: 0 0 20px rgb(15, 0, 71);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    color: white;
    padding: 5px 15px;
    height: 80px;
}

i {
    padding-right: 5px;
}

nav a {
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    filter: blur(0);
    transition: all 0.4s ease;
    align-items: center;
    height: 100%;
    border-radius: 8px;
}

nav a:hover {
    background-color: #ffffff;
    color: rgb(37, 88, 255);
    transform: scale(1.1);
    font-size: 20px;
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
    border-radius: 20px;
}

nav:hover a:not(:hover) {
    filter: blur(5px);
}

.image img {
    margin-right: 2cm;
    height: 90px;
    transition: transform 0.8s ease
}

.image img:hover {
    transform: rotate(360deg) scale(2.1) translateY(20px) translateX(-10px);
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

@keyframes slideBg {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 1000px 0;
    }
  }
  
  section.home {
    height: 600px;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
    url(img/home);
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: scroll;
    padding-top: 100px;
    animation: slideBg 20s linear infinite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  section.home .welcome {
    color: white;
    width: 50%;
    padding: 20px;
    font-size: 27px;
    text-shadow: 1px 1px 2px black;
    text-align: left;
  }
  
  section.home .welcome h1 {
    font-size: 69px;
    margin-bottom: 10px;
  }
   section.home .welcome p{
    font-size: 35px;
   }
  section.home .gambar {

    width: 50%;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes naik {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

  
  section.home .gambar img {
    margin-top: 100px;
    margin-left: 170px;
    width: 1350px;
    height: auto;
    animation: naik 2s ease-in-out infinite;
  }

  section.home a {
    font-size: 40px;
    color: rgb(152, 0, 223);
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: none;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: inline-block;
    margin-top: 20px;
    transition: all 0.6s ease;
  }

section.home a:hover{
    font-family: 44px;
    color: rgb(255, 255, 255);
    background-color:rgb(174, 0, 209);
    box-shadow: 0px 0px 10px rgb(207, 16, 255);
    transform: scale(105%);
}


section.about{
background:
linear-gradient(180deg, #000000, rgb(69, 128, 255), rgb(158, 255, 223));
height: 570px;
padding-top: 100px;
font-size: 20px;
}

section.about div{
    text-align: center;
    color: white;
    margin: 0px 200px;
    width: 70%;
     width : 70%;
     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.699);
}

section.about img{
    height: 300px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.699));
    animation: pulse 2s infinite;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

section.product{
background-image: url(img/tengah.png);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: cover;
        background-position: center top;
        width: auto;
        height: 1200px;
        border-top: 4px solid #ffffff;
        border-bottom: 4px solid white;
       
}

section.product .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    animation: float 3s ease-in-out infinite;
}

section.product .container .card{
    background-color: rgb(171, 205, 255);
    text-align: center;
    padding: 20px;
    width: 270px;
    height: 490px;
    margin: 15px;
    border-radius: 40px;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}

section.product .container .card:hover{
    transform: scale(105%);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.377);
    background-color: #0032bd;
    color: rgb(255, 255, 255);
}

  

section.product .container .card img{
    width: 250px;
    height: 250px;
    background-color: #ffffffb6;
    border-radius: 40px;
  
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.39))
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

section.product .container .card a{
    color: rgb(255, 255, 255);
    background-color: rgb(58, 137, 255);
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

section.product .container .card a:hover{
    color: rgb(17, 0, 255);
    background-color: rgb(255, 255, 255);
}

section.contact{
background-image: url(img/contact.png);
background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
height: 500px;
padding: 100px;
justify-content: center;
align-items: center;
display: flex;

}

section.contact .card {
    font-size: 28px;
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 0, 192);
    text-align: center;
    width: 400px;
    padding: 20px;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.6s ease;
}

section.contact .card:hover{
    transform: scale(105%);
    background-color: #be32ff;
}


section.contact .card img {
    width: 200px;
    height: 160px;
    border: solid 6px rgb(255, 0, 255);
    border-radius: 60px;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.575);
    
    animation: shake 2s ease-in-out infinite;
}
@keyframes shake {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(6deg); }
    50%  { transform: rotate(-6deg); }
    75%  { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
  }



footer {
    background: linear-gradient(90deg, rgb(0, 43, 136) 0%, rgb(162, 252, 255) 50%, rgb(0, 12, 173) 100%);
    height:50px;
}
footer .medsos{
    text-align:center;
    padding-top:10px;
}

footer .medsos a{
    color:rgb(8, 1, 100);
    font-size:20px;
    padding:5px 20px;
    border-radius: 180px;
    filter: blur(0);
    transition: all 0.4s ease;
}
footer .medsos a:hover{
    color:white;
    font-size:23px;
    padding:5px 50px;
    background-color: white;
    color: rgb(0, 153, 255);
    transform: scale(103%);
    box-shadow: 0px 0px 5px rgb(0, 132, 255);
}


.medsos:hover a:not(:hover) {
    filter: blur(5px);
}