body {
    margin: 0px;
    font-family: "Concert One", sans-serif;
  }

header {
    display: flex;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, rgb(0, 136, 34) 0%, rgb(196, 255, 102) 50%, rgb(0, 173, 14) 100%);
    box-shadow: 0 0 20px rgb(39, 0, 12);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    color: white;
    padding: 5px 15px;
    height: 80px;
}

i {
    padding-right: 5px;
}

nav a {
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    filter: blur(0);
    transition: all 0.4s ease;
    align-items: center;
    height: 100%;
    border-radius: 8px;
}

nav a:hover {
    background-color: #daffc2;
    color: rgb(55, 175, 0);
    transform: scale(1.1);
    font-size: 20px;
    filter: drop-shadow(0px 0px 5px rgba(21, 105, 0, 0.315));
    border-radius: 20px;
}

nav:hover a:not(:hover) {
    filter: blur(5px);
}

.image img {
    margin-right: 2cm;
    height: 90px;
    transition: transform 0.8s ease
}

.image img:hover {
    transform: rotate(360deg) scale(2.1) translateY(20px) translateX(-10px);
    filter: drop-shadow(0px 0px 7px rgb(255, 255, 255));
}

@keyframes slideBg {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 1000px 0;
    }
  }
  
  section.home {
    height: 600px;
    background-image:url(img/baru.jpeg);
    background-size:contain;
    background-repeat: repeat-x;
    background-attachment: scroll; 
    padding-top: 100px;
    animation: slideBg 20s linear infinite;
  }

section.home div {
text-align: center;
    color: white;
    margin: 80px 200px;
    width: 70%;
    padding: 20px;
    font-size: 27px;
    background-color: #6e9c0162;
    border-radius: 50px;
    text-shadow: 1px 1px black ;
    animation: float 3s ease-in-out infinite;
   
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


section.home.welcome{
font-size: 20px;
}

section.home a{
    color: green;
    padding: 5px 15px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

section.home a:hover{
    color: rgb(0, 26, 255);
    background-color:aliceblue;
}


section.about{
background:
linear-gradient(180deg,rgb(255, 255, 255), rgb(184, 255, 17) , rgb(0, 201, 50));
height: 570px;
padding-top: 100px;
font-size: 20px;
}

section.about div{
    text-align: center;
    color: white;
    margin: 0px 200px;
    width: 70%;
     width : 70%;
     text-shadow: 0px 1px 3px black;
}

section.about img{
    height: 300px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.582));
    transition: all 0.5s ease;
}
section.about img:hover{
    animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


section.product{
    background-image: url(img/alam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1200px;
}

section.product .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

section.product .container .card{
    background-color: rgb(136, 255, 0);
    text-align: center;
    padding: 20px;
    width: 270px;
    height: 490px;
    margin: 15px;
    border-radius: 40px;
    transition: all 0.5s ease;
}

section.product .container .card:hover{
    transform: scale(105%);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.658);
    background-color: #ffffff;
    color: rgb(4, 109, 0);
}

  

section.product .container .card img{
    width: 250px;
    height: 250px;
    background-color: #bfff94;
    border-radius: 40px;
    animation: float 3s ease-in-out infinite;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.555))
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

section.product .container .card a{
    color: rgb(16, 139, 0);
    background-color: white;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    transition: all 1s ease;
}

section.product .container .card a:hover{
    color: white;
    background-color: green;
}

section.contact{
background-color: rgb(92, 255, 100);
height: 600px;
padding: 100px;
justify-content: center;
align-items: center;
display: flex;
background-color: #c4ff81;

}

section.contact .card {
    font-size: 28px;
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 128, 0);
    text-align: center;
    width: 400px;
    padding: 20px;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


section.contact .card img {
    width: 200px;
    height: 160px;
    border: solid 6px rgb(160, 255, 51);
    border-radius: 60px;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.575);
    
    animation: shake 2s ease-in-out infinite;
}
@keyframes shake {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(6deg); }
    50%  { transform: rotate(-6deg); }
    75%  { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
  }



footer {
    background: linear-gradient(90deg, rgb(0, 136, 34) 0%, rgb(196, 255, 102) 50%, rgb(0, 173, 14) 100%);
    height:50px;
}
footer .medsos{
    text-align:center;
    padding-top:10px;
}
footer .medsos a{
    color:rgb(1, 56, 3);
    font-size:20px;
    padding:5px 20px;
    border-radius: 180px;
    filter: blur(0);
    transition: all 0.4s ease;
}
footer .medsos a:hover{
    color:white;
    font-size:23px;
    padding:5px 50px;
    background-color: white;
    color: rgb(0, 156, 21);
    transform: scale(103%);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.555);
}


.medsos:hover a:not(:hover) {
    filter: blur(5px);
}